{% extends 'layout.html' %}

{% block body %}
  <script type="text/javascript" src={{javascriptPath}}></script>

  <div class="container">
    <div class="field">
      <label class="label">Question</label>
      <div class="control">
        <input class="input" placeholder="Question" {% if questionName %} value="{{questionName}}" {% endif %} id="question"></input>
      </div>

      <label class="label">Answer</label>
      <div class="control">
        <textarea class="textarea" placeholder="Answer" {% if questionAnswer %} value="{{questionAnswer}}" {% endif %} id="answer"></textarea>
      </div>

      <label class="label">Subject</label>
      <div class="control">
        <input class="input" placeholder="Subject" {% if questionSubject %} value="{{questionSubject}}" {% endif %} id="category" list=datalist></input>
        <datalist id="datalist">
          {% for category in categories %}
           <option value="{{category}}">
          {% endfor %}
        </datalist>
      </div>

      <section class="section">
        <button class="button is-primary" onclick="submitQuestion('{{session.username}}')">Submit Question</button>
      </section>
    </div>
  </div>
{% endblock %}
