{% extends 'layout.html' %}

{% block body %}
  <script type="text/javascript" src={{javascriptPath}}></script>

  <div class="container">
    <div class="field">
      <label class="label">Question</label>
      <div class="control">
        <input class="input" placeholder="Question" value="{{question}}" id="question"></input>
      </div>

      <label class="label">Answer</label>
      <div class="control">
        <textarea class="textarea" placeholder="Answer" id="answer">{{answer}}</textarea>
      </div>

      <label class="label">Subject</label>
      <div class="control">
        <input class="input" placeholder="Subject" value="{{category}}" id="category" list=datalist></input>
        <datalist id="datalist">
          {% for category in categories %}
           <option value="{{category}}">
          {% endfor %}
        </datalist>
      </div>

      <section class="section">
        <button class="button is-primary" onclick="editQuestion('{{questionId}}')">Save</button>
      </section>
    </div>
  </div>
{% endblock %}
