{% extends 'layout.html' %}

{% block body %}
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <a href="/">
          <h1 class="title">Revision helper</h1>
          <h2 class="subtitle">Revise by writing and answering questions!</h2>
        </a>
      </div>
    </div>
  </section>
  <div class="box has-text-centered">
    <a href="/create" class="button is-primary">Create Questions</a>
    <a href="/subjects" class="button is-secondary">Answer Questions</a>
  </div>
{% endblock %}
