{% extends 'layout.html' %}

{% block body %}
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <a href="/">
          <h1 class="title">Revision helper</h1>
          <h2 class="subtitle">Revise by writing and answering questions!</h2>
        </a>
      </div>
    </div>
  </section>
  
  <div class="box has-text-centered">
    <a href="/create" class="button is-primary">Create Questions</a>
    <a href="/subjects" class="button is-secondary">Answer Questions</a>
  </div>

  <div class="tile is-ancestor">
    <div class="tile is-child notification is-success">
      <section class="section">
        <p class="title">1</p>
        <p class="subtitle"><strong>Read</strong> - Start by reading a piece of content from the subject you want to revise for!</p>
      </section>
    </div>
    <div class="tile is-child notification is-warning">
      <section class="section">
        <p class="title">2</p>
        <p class="subtitle"><strong>Write</strong> - Write some questions on the content you just read!</p>
      </section>
    </div>
    <div class="tile is-child notification is-info">
      <section class="section">
        <p class="title">3</p>
        <p class="subtitle"><strong>Answer</strong> - Answer questions that you and others have written!</p>
      </section>
    </div>
  </div>
{% endblock %}
