{% extends 'layout.html' %}

{% block head %}
<script type="text/javascript" src={{javascriptPath}}></script>
{% endblock %}

{% block body %}

<div class="container">
	<h1 class="title is-1">{{questionsTitle}}</h1>
	<table class="table is-hoverable is-fullwidth">
		<tr>
			<th>
				Question
			</th>
			<th>
				Category
			</th>
			<th>
				Creator
			</th>
		</tr>
		{% for question in questionsList %}
		<tr>
			<td>
				<a href="/question/{{question['primary_key']}}">
					<div class="markdown">
						{{question["question"]}}
					</div>
				</a>
			</td>
			<td>
				<a href="/subject/{{question['category']}}">
					{{question["category"]}}
				</a>
			</td>
			<td>
				<a href="/user/{{question['user']}}">
					{{question["user"]}}
				</a>
			</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}