{% extends 'layout.html' %}

{% block body %}
  <section class="section">
    <h1 class="title">Sign Up</h1>
    {% include 'includes/messages.html' %}
    <form class="field" action="" method="POST">
      <div class="control">
        <label>Username</label>
        <input type="text" name="username" class="input" value={{request.form.username}}>
      </div>
      <div class="control">
        <label>Password</label>
        <input type="password" name="password" class="input" value={{request.form.password}}>
      </div>
      <button type="submit" class="button is-primary">Submit</button>
    </form>
  </section>
{% endblock %}
